# Copy to fastlane/.env and provide values locally or through CI secrets.
USERNAME=
APPLE_ID=
TEAM_ID=
CERTIFICATES_BRANCH=
BUNDLE_ID=
SCHEME=my-app
CONFIGURATION=Beta
VERSION=1.0.0
XCODEPROJ=./my-app.xcodeproj
